:root {
    --color-primary: #34C94B;
    --color-black:#121212;
  }
  
.button{

    color: var(--color-primary);
    background-color: var(--color-black);
    width: 150px;
    height: 47px;
    border-radius: 10px;
    font-weight: 600px;
    size: 18px;
    font-family:'Poppins', sans-serif;
    font-weight: 600;
   
  }

  .button:hover{
    cursor: pointer;
  }
  